@media only screen and (max-width: 700px) {
    .network__icons {
      height: 20px;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .footer {
        color: ghostwhite;
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.7rem;
        text-transform: lowercase;
        padding: 20px 0 0 0;
        text-align: center;
        font-weight: bold;
        position: fixed;
        bottom: 0;
        width: 100%;
    }   
}

@media only screen and (min-width: 701px) {
    .footer {
        color: ghostwhite;
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.7rem;
        text-transform: lowercase;
        padding: 20px 0 0 0;
        text-align: center;
        font-weight: bold;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
    .network__icons {
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    .footer {
        color: ghostwhite;
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.7rem;
        text-transform: lowercase;
        padding: 20px 0 0 0;
        text-align: center;
        font-weight: bold;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
    .network__icons {
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }
}