@media only screen and (max-width: 700px) {
  html,
  body {
    background-color: #121212;
    height: 100vh;
    margin: 0;
    width: 100vw;

  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }

  .quote__left--button {
    color: ghostwhite;
    font-family: "Special Elite", cursive;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1rem;
    margin: 0;
    text-decoration: none;
  }

  .quote__left--button:hover {
    color: yellow;
    font-family: "Special Elite", cursive;
    font-weight: bold;
    letter-spacing: 1rem;
    text-decoration: none;
    margin: 0;
  }

  .quote__left--button:active {
    color: orange;
    font-family: "Special Elite", cursive;
    font-weight: bold;
    letter-spacing: 1rem;
    margin: 0;
  }

  .equal__sign {
    font-family: "Special Elite", cursive;
    font-size: 2rem;
    letter-spacing: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .quote__right {
    color: ghostwhite;
    font-family: "Special Elite", cursive;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1rem;
    text-decoration: none;
    margin: 0;
  }

  p {
    color: ghostwhite;
    display: flex;
    font-family: "Special Elite", cursive;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1rem;
    text-align: center;
    text-decoration: none;
  }

  img {
    height: 15px;
  }
}

@media only screen and (min-width: 701px) {
  html,
  body {
    background-color: #121212;
    height: 100vh;
    margin: 0;
    width: 100vw;
    
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }

  .quote__left--button {
    color: ghostwhite;
    font-family: "Special Elite", cursive;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1rem;
    margin: 0;
    text-decoration: none;
  }

  .quote__left--button:hover {
    color: yellow;
    font-family: "Special Elite", cursive;
    font-weight: bold;
    letter-spacing: 1rem;
    text-decoration: none;
    margin: 0;
  }

  .quote__left--button:active {
    color: orange;
    font-family: "Special Elite", cursive;
    font-weight: bold;
    letter-spacing: 1rem;
    margin: 0;
  }

  .equal__sign {
    font-family: "Special Elite", cursive;
    font-size: 2rem;
    letter-spacing: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .quote__right {
    color: ghostwhite;
    font-family: "Special Elite", cursive;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1rem;
    text-decoration: none;
    margin: 0;
  }

  p {
    color: ghostwhite;
    display: flex;
    font-family: "Special Elite", cursive;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1rem;
    text-align: center;
    text-decoration: none;
  }

  img {
    height: 27px;
  }
}

@media only screen and (min-width: 1024px) {
  html,
  body {
    background-color: #121212;
    height: 100vh;
    margin: 0;
    width: 100vw;
    
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }

  .quote__left--button {
    color: ghostwhite;
    font-family: "Special Elite", cursive;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1rem;
    margin: 0;
    text-decoration: none;
  }

  .quote__left--button:hover {
    color: yellow;
    font-family: "Special Elite", cursive;
    font-weight: bold;
    letter-spacing: 1rem;
    text-decoration: none;
    margin: 0;
  }

  .quote__left--button:active {
    color: orange;
    font-family: "Special Elite", cursive;
    font-weight: bold;
    letter-spacing: 1rem;
    margin: 0;
  }

  .equal__sign {
    font-family: "Special Elite", cursive;
    font-size: 3rem;
    letter-spacing: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .quote__right {
    color: ghostwhite;
    font-family: "Special Elite", cursive;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1rem;
    text-decoration: none;
    margin: 0;
  }

  p {
    color: ghostwhite;
    display: flex;
    font-family: "Special Elite", cursive;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1rem;
    text-align: center;
    text-decoration: none;
  }

  img {
    height: 27px;
  }
}
